@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: slategray;
	overflow: hidden;
	color: whitesmoke;
}

#root {
	width: 100dvw;
	height: 100dvh;
	background-color: slategray;
}

@font-face {
	font-family: 'Poppins';
	src: url("assets/fonts/Poppins/Poppins-Medium.ttf");
}